h1, h2 {
    text-align: center;
    color: #0a2a66; /* azul oscuro */
    margin: 20px 0;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
